body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: darkgrey;
}

canvas {
    border: 2px solid #000; /* Voeg een rand toe aan het canvas voor zichtbaarheid */
}